<div id="pageHeader">
    <div id="pageTitleDiv">
        <img id="pageLogoGraph" src="@Links.Content.Images.Logos.logo_graph_48x48_png"
            height="32px" width="32px" alt="@AppInfoHelper.AppName" />
        <a class="simpleLink" style="font-size: 11px; color: #75a22a;" href="@AppInfoHelper.AppPath(Request)" id="logoLink">
            <img id="pageLogo" src="@Links.Content.Images.Logos.ScrumTimeLogo_png" alt="@AppInfoHelper.AppName" /></a>
        <div id="pageTagline">
            @AppInfoHelper.TagLine
        </div>
    </div>
</div>
