<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
    <title></title>
    <link rel="shortcut icon" href="@Links.Content.Images.favicon_ico" type="image/x-icon" />
    <link rel="stylesheet" href="@Links.Content.Css.main_css" type="text/css" />
    <link rel="stylesheet" href="@Links.Content.Css.smooth_withgreen.jquery_ui_1_8_4_custom_css" type="text/css" />
    <link rel="stylesheet" href="@Links.Content.Css.jquery_jqplot_min_css" type="text/css" />
    <!--[if IE]><script language="javascript" type="text/javascript" src="@Links.Scripts.excanvas_min_js"></script><![endif]-->
    <script src="@Links.Scripts.jquery_1_4_2_min_js" type="text/javascript"></script>
    <script src="@Links.Scripts.jquery_ui_1_8_4_custom_min_js" type="text/javascript"></script>
    <script src="@Links.Scripts.jquery_jqplot_min_js" type="text/javascript"></script>
    <script src="@Links.Scripts.Plugins.jqplot_logAxisRenderer_min_js" type="text/javascript"></script>
    <script src="@Links.Scripts.Plugins.jqplot_canvasTextRenderer_min_js" type="text/javascript"></script>
    <script src="@Links.Scripts.Plugins.jqplot_canvasAxisLabelRenderer_min_js" type="text/javascript"></script>
    <script src="@Links.Scripts.Plugins.jqplot_canvasAxisTickRenderer_min_js" type="text/javascript"></script>
    <script src="@Links.Scripts.Plugins.jqplot_dateAxisRenderer_min_js" type="text/javascript"></script>
    <script src="@Links.Scripts.Plugins.jqplot_categoryAxisRenderer_min_js" type="text/javascript"></script>
    <script src="@Links.Scripts.Plugins.jqplot_enhancedLegendRenderer_min_js" type="text/javascript"></script>
    <script src="@Links.Scripts.Plugins.jqplot_barRenderer_min_js" type="text/javascript"></script>
    <script src="@Links.Scripts.Plugins.jqplot_pointLabels_min_js" type="text/javascript"></script>
    <script src="@Links.Scripts.Plugins.cookie_plugin_js" type="text/javascript"></script>
    <script src="@Links.Scripts.scrumtime_main_1_0_js" type="text/javascript"></script>
    <script src="@Links.Scripts.scrumtime_story_1_0_js" type="text/javascript"></script>
    <script src="@Links.Scripts.scrumtime_task_1_0_js" type="text/javascript"></script>
    <script src="@Links.Scripts.scrumtime_schedule_1_0_js" type="text/javascript"></script>
    <script src="@Links.Scripts.scrumtime_release_1_0_js" type="text/javascript"></script>
    <script src="@Links.Scripts.scrumtime_sprint_1_0_js" type="text/javascript"></script>
    <script src="@Links.Scripts.scrumtime_scrum_1_0_js" type="text/javascript"></script>
    <script src="@Links.Scripts.scrumtime_product_1_0_js" type="text/javascript"></script>
    <script src="@Links.Scripts.scrumtime_dashboard_1_0_js" type="text/javascript"></script>
</head>
<body>
    <header>
        @Html.Partial(MVC.Shared.Views.HeaderControl)
        @Html.Partial(MVC.Home.Views.CurrentProductAndSprint)
        <div class="loginLink" style="z-index: 100; position: absolute; right: 30px; top: 96px; font-size: 12px;">
            @Html.Partial(MVC.Shared.Views.LogOnUserControl)
        </div>
    </header>
    <nav>
        @Html.Partial(MVC.Shared.Views.MainMenu)
    </nav>
    @RenderBody()
    <footer>
        @Html.Partial(MVC.Shared.Views.FooterControl)
    </footer>
</body>
</html>
